<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">REGISTRO PQRS</h2>
    <div class="content mt-4">
        <p class="text-center">Por favor, completa el formulario a continuación con los detalles de tu PQRS y estaremos encantados de
            ayudarte lo antes posible.</p>
        <div class="form">
            <div class="row ms-2 me-2">
                <div class="col-6 mb-3 mt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="nombre" placeholder="" />
                        <label for="nombre">Nombre</label>
                    </div>
                </div>
                <div class="col-6 mb-3 mt-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="correo" placeholder="" />
                        <label for="correo">Correo</label>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <select name="" class="form-select" id="tipo" placeholder="">
                            <option value="" selected disabled>Tipo de petición</option>
                            <option value="">Petición</option>
                            <option value="">Queja</option>
                            <option value="">Reclamo</option>
                            <option value="">Sugerencia</option>
                            <option value="">Felicitación</option>
                        </select>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="telefono" placeholder="" />
                        <label for="telefono">Teléfono</label>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="asunto" placeholder="" />
                        <label for="asunto">Asunto</label>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="ciudad" placeholder="" />
                        <label for="ciudad">Ciudad</label>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea class="form-mensaje form-control" id="mensaje" placeholder=""></textarea>
                        <label for="mensaje">Mensaje</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>