<div class="container mt-2 mb-5">
    <app-carrusel></app-carrusel>
    <h2 class="text-center mb-4 mt-4">CARTELERA</h2>
    <div class="content mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 ms-2 me-2">
            @for (estreno of estrenos; track $index) {
            <div class="col mb-3 mt-4">
                <a role="button" class="card position-relative" [routerLink]="['/pelicula',  'cartelera', estreno.id ]">
                    @if (estreno.estreno == true) {
                    <span class="badge bg-primary position-absolute fs-6">Estreno</span>
                    }
                    <img src="{{estreno.poster}}" class="card-img-top" alt="Poster {{estreno.nombre}}">
                    <div class="card-footer">
                        <div class="row">
                            <div class="text-center">
                                <span class="fw-bold">{{estreno.nombre}}</span>
                            </div>
                            <div class="footer-info text-center">
                                <span>Ver información</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            }
        </div>
    </div>
</div>