<div class="container mt-2 mb-5">
    <app-carrusel></app-carrusel>
    <h2 class="text-center mb-4 mt-4">CARTELERA</h2>
    <div class="content mt-4">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4 ms-2 me-2">
           
              <div class="col mb-3 mt-4">
                  <a role="button" class="card">
                    <img src="https://i.ibb.co/SnmjHV6/images-1.jpg" class="card-img-top" alt="prueba">
                    <div class="card-footer">
                      <div class="row">
                          <div class="col text-center d-flex justify-content-center"><span class="fw-bold">prueba</span></div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col mb-3 mt-4">
                    <a role="button" class="card">
                      <img src="https://i.ibb.co/qJzXGcj/images-2.jpg" class="card-img-top" alt="prueba">
                      <div class="card-footer">
                        <div class="row">
                            <div class="col text-center d-flex justify-content-center"><span class="fw-bold">prueba</span></div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col mb-3 mt-4">
                    <a role="button" class="card">
                      <img src="https://i.ibb.co/mFRRCqs/Twisters-132258182-large.jpg" class="card-img-top" alt="prueba">
                      <div class="card-footer">
                        <div class="row">
                            <div class="col text-center d-flex justify-content-center"><span class="fw-bold">prueba</span></div>
                        </div>
                      </div>
                    </a>
                  </div>
          </div>
    </div>
       
  </div>
  