<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" role="button" [routerLink]="['/']"><img class="logo" src="assets/img/logo.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-light " [routerLink]="['/cartelera']" [ngClass]="{ 'active': isActive('/') || isActive('/cartelera')  }">Cartelera</a>
        <a class="nav-link text-light " [routerLink]="['/proximamente']" [ngClass]="{ 'active': isActive('/proximamente') }">Próximamente</a>
        <a class="nav-link text-light " [routerLink]="['/promociones']" [ngClass]="{ 'active': isActive('/promociones') }">Promociones</a>
        <a class="nav-link text-light " [routerLink]="['/cafeteria']" [ngClass]="{ 'active': isActive('/cafeteria') }">Cafetería</a>
      </div>
    </div>
  </div>
</nav>
