<div class="container mt-4">
    <h2 class="text-center">Contactanos</h2>
    <div class="row">
        <div class="col-md-6">
            <span>Nuestras sedes</span>
            <div class="row">
                <div class="col-6">
                    <img src="assets/icon/google-maps.svg" alt="Icon Google Maps">
                </div>
                <div class="col-6">
                    <span>Magnague, Bolivar</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <span>Redes Sociales</span>
        </div>
    </div>
</div>