.content {
  background-color: #f4f6f8;
  border-radius: 15px;
  box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
}
.icon {
  font-size: 1.5rem;
}
.form {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.41);
   border-radius: 15px;
}
.btn {
  color: #000;
  border: 1px solid #101d42;
}
.btn:hover {
  background-color: #101d42;
  color: #fff;
}

/* .content-map {
  width: 30rem;
} */
