<div class="container bg mb-5 mt-5">
    <h1 class="text-center mb-4">SERVICIOS ADICIONALES</h1>
    <div class="row content ms-2 me-2">
        <div class="col-md-6 mb-md-0 mt-3 order-lg-2 d-flex align-items-center">
            <img src="assets/img/lobby.webp"  class="img-lobby" alt="Imagen Lobby">
        </div>
        @for (item of text; track text; let first = $first; let i = $index) {
            <div class="col-md-{{ first ? '6' : '12' }} order-md-{{ first ? 1 : i+1}} mt-4">
                <h3>{{item.titulo}}</h3>
                @for (contenido of item.contenido; track $index) {
                 <p>{{contenido}}</p>
                }
                @if (item.lista) {
                    <ul>
                        @for (lista of item.lista; track $index) {
                            <li>{{lista}}</li>
                        }
                    </ul>
                }
            </div>
        }
        
    </div>
</div>