<div class="container mt-5 mb-5">
    <h2 class="text-center mb-4">SOBRE NOSOTROS</h2>
    <div class="row content text-center">
        <div class="col-md- mt-4">
            <h3>QUIÉNES SOMOS</h3>
            <p>Cinema es más que un cine; somos un destino cultural donde se celebran las historias, la creatividad y la
                pasión por el cine. Nuestra dedicación a la excelencia se refleja en cada aspecto de nuestra operación,
                desde la selección de películas hasta la atención al cliente y la calidad de nuestras instalaciones. En
                Cinema, estamos comprometidos a enriquecer la experiencia cinematográfica y a convertirla en un viaje
                inolvidable para todos nuestros visitantes.
            </p>
        </div>
        <div class="col-md-6">
            <h3>NUESTRA MISIÓN</h3>
            <p>Somos una empresa colombiana dedicada a compartir emociones con la exhibición de películas, que promueve
                el sano entretenimiento y fomento de la cultura, operando con un avanzado nivel de tecnología e
                infraestructura, talento humano motivado y capacitado que brinda una experiencia memorable a nuestros
                clientes y genera valor a las demás partes interesadas.</p>
        </div>
        <div class="col-md-6">
            <h3>NUESTRA VISIÓN</h3>
            <p>Ser reconocidos como el destino cinematográfico por excelencia, ofreciendo experiencias inigualables que
                cautiven a nuestros espectadores y los transporten a nuevos mundos de imaginación y emoción.
            </p>
        </div>
    </div>
</div>