<div class="container bg mt-5 mb-5">
    <h1 class="text-center">TERMINOS Y CONDICIONES</h1>
    <div class="row content ms-2 me-2">
        <div class="col-md-12 mt-4">
            <p class="fw-bold">Bienvenido/a a Cinema. Por favor, lee detenidamente estos términos y condiciones antes de
                utilizar
                nuestros servicios. Si tienes alguna
                pregunta o inquietud, no dudes en contactarnos. ¡Gracias por elegir Cinema para tu experiencia
                cinematográfica!</p>
            @for (item of text; track $index) {
            <span class="fw-semibold">{{item.titulo}}</span>
            <p>{{item.contenido}}</p>
            }
        </div>
    </div>
</div>