<div class="container bg mt-5 mb-5">
    <h1 class="text-center">TERMINOS Y CONDICIONES</h1>
    <div class="row content">
        <div class="col-md-12 mt-4">
            <p>Bienvenido/a a Cinema. Por favor, lee detenidamente estos términos y condiciones antes de utilizar
                nuestros servicios.</p>
            <p class="fw-bold">
                Al utilizar los servicios de Cinema, aceptas cumplir con estos términos y condiciones. Si tienes alguna
                pregunta o inquietud, no dudes en contactarnos. ¡Gracias por elegir Cinema para tu experiencia
                cinematográfica!
            </p>
            <span class="fw-semibold">Aceptación de los Términos:</span>
            <p>Al acceder o utilizar los servicios de Cinema, aceptas estar sujeto/a a estos términos y condiciones. Si
                no estás de acuerdo con alguna parte de estos términos, te solicitamos que no utilices nuestros
                servicios.</p>
            <span class="fw-semibold">Uso de las Instalaciones: </span>
            <p>Nuestras instalaciones están diseñadas para proporcionar una experiencia cinematográfica excepcional. Al
                utilizar nuestras instalaciones, aceptas seguir todas las normas y regulaciones establecidas por Cinema
                para garantizar la seguridad y comodidad de todos los clientes.</p>
            <span class="fw-semibold">Compra de Entradas:</span>
            <p>La compra de entradas para nuestras proyecciones se realiza a través de nuestros canales oficiales de
                venta, incluyendo nuestro sitio web y taquillas físicas. Las entradas son válidas únicamente para la
                proyección y fecha especificadas. No se permiten cambios ni devoluciones, a menos que se indique lo
                contrario.</p>
            <span class="fw-semibold">Política de Cancelación:</span>
            <p>Cinema se reserva el derecho de cancelar o modificar cualquier proyección por razones fuera de nuestro
                control, como problemas técnicos o condiciones climáticas adversas. En caso de cancelación, se ofrecerán
                reembolsos o intercambios de entradas según corresponda.</p>
            <span class="fw-semibold">Conducta del Cliente:</span>
            <p>Todos los clientes deben comportarse de manera respetuosa y cortés hacia el personal de Cinema y otros
                clientes. No se permitirá el ingreso de alimentos o bebidas externas a nuestras instalaciones, a menos
                que se indique lo contrario. Se prohíbe terminantemente el uso de dispositivos de grabación durante las
                proyecciones.</p>
            <span class="fw-semibold">Política de Privacidad:</span>
            <p class="mb-4">Cinema respeta la privacidad de sus clientes y se compromete a proteger la información personal
                recopilada durante la compra de entradas u otros servicios. Consulta nuestra política de privacidad para
                obtener más información sobre cómo manejamos tus datos personales.</p>
        </div>
    </div>
</div>