.content {
  background-color: #F4F6F8;
  border-radius: 15px;
  box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
  -webkit-box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 2px 7px 21px -1px rgba(0, 0, 0, 0.41);
}
p{
    text-align: justify;
  }