<div class="container bg  mt-5 mb-5">
    <h1 class="text-center">TARJETA CLIENTE</h1>
    <div class="row content ms-2 me-2">
        <div class="col-md-6 mt-4">
            <h3>¿Qué es la tarjeta Cliente?</h3>
            <p>Es una tarjeta plástica que te acredita como cliente VIP de Cinema films en cualquiera de sus sedes en
                Colombia cuenta con un código de barras y es personal e intransferible, tenerla te hace beneficiario de
                muchos descuentos en nuestras instalaciones, para acceder a estos descuentos siempre debes mostrar la
                tarjeta.</p>
        </div>
        <div class="col-md-6 mt-4">
            <img src="assets/img/tarjeta.svg" class="img-tarjeta" alt="">
        </div>
        <div class="col-md-12">
            <h3>¿Que vigencia tiene?</h3>
            <p>Tiene una vigencia de 1 año despues de la fecha de compra y puede ser usada inmediatamente despues de
                haberla adquirido.</p>
        </div>
        <div class="col-md-12">
            <h3>¿Cómo Funciona?</h3>
            <p>Funciona como una tarjeta de cliente preferencial, al mostrarla y validarla obtendrás tarifas
                preferenciales, también puedes recargarla y obsequiarla pues dentro de nuestras instalaciones la tarjeta
                también funciona como una tarjeta débito, además puedes comprar en línea si tienes saldo en tu tarjeta.
            </p>
        </div>
        <div class="col-md-12 ">
            <h3>Acumulación de puntos</h3>
            <p>Con cada compra que realices el sistema te sumará 1 (uno) punto por cada 1.000 (mil) pesos comprados.
                Estos puntos son acumulables y tienen la misma vigencia que la tarjeta, por tanto el día que la tarjeta
                expire los puntos se eliminarán.</p>
        </div>
        <div class="col-md-12 mb-4">
            <h3>¿Dónde la Adquiero?</h3>
            <p>Adquiérela en la sede de Cinema films más cercana, solo necesitas tus datos personales y tiene un valor
                de 10.000 pesos, la tarjeta se activa y se entrega de forma inmediata.</p>
        </div>
    </div>
</div>
